<a href='/'>BACK</a>
 {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-outline-danger">
                <a href="/logout/" class="text-body">Log Out</a></button>
            {% endif %}
        </button>
        <br/>
<h1>Ticket Detail</h1>
<br/>

<h4><a href="/edit/{{ticket_detail.id}}">EDIT</a></h4>
{% if ticket_detail.ticketstatus != 'new' %}
{% if ticket_detail.assigned_user == None or request.user == ticket_detail.assigned_user %}
<form method="post" action="/assignstatus/{{ticket_detail.id}}/">
    {% csrf_token %}
    {{statusform.as_p}}
    <input type="submit" value="Submit">
</form>
{% endif %}{% endif %}


<h4>Title:</h4><h6>-{{ ticket_detail.title }}</h6> 
<br>
<h4>Description:</h4><h6>-{{ ticket_detail.description }}</h6>
<br>
<h4>Date Submitted:</h4><h6>-{{ ticket_detail.date_posted }}</h6>
<br>
<h4>Reported By:</h4><h6>-{{ ticket_detail.filed_by }}</h6> -->

<form method="post" action="/assignperson/{{ticket_detail.id}}/">
    {% csrf_token %}
    {{person.as_p}}
    <input type="submit" class="text-body" value="Submit" />
    </div>
</form>